backend/__pycache__/
*.pyc
backend/agent_nodes/__pycache__/
tests/__pycache__/
.DS_Store
backend/.DS_Store
backend/vector_db/
backend/config/config_loader.py
.idea/
tmp/
temp.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class



# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

test.ipynb

temp.py
temp.csv
test.py

repo/

*.pngtmp/
temp.json


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
