langchain~=0.3.25
langchain_groq~=0.3.2
langchain_huggingface~=0.2.0
langchain_community~=0.3.24
python-dotenv~=1.1.0
pyyaml~=6.0.2
chromadb~=1.0.12
chroma-hnswlib~=0.7.6
tiktoken~=0.9.0
pdfminer-six>=20231228
python-slugify
fastapi~=0.110.2
uvicorn[standard]~=0.29.0
#sentence-transformers~=2.2.2
#huggingface-hub~=0.17.3
requests~=2.31.0
tqdm~=4.66.0
numpy~=1.26.0
typing-extensions>=4.12.0,<5
PyPDF2~=3.0.1
spacy~=3.7.4
pytest~=8.2.2
